@model GoodsIndexViewModel

@{
    ViewBag.Title = "SORANO - Товары";
    ViewBag.Header = "Товары";
    ViewBag.Description = "";
    ViewBag.Icon = "fa fa-archive";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css" />
    <style>
        span.select2-selection.select2-selection--single {
            -ms-border-top-right-radius: 3px !important;
            border-top-right-radius: 3px !important;
            -ms-border-bottom-right-radius: 3px !important;
            border-bottom-right-radius: 3px !important;
        }
    </style>
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="active">Товары</li>
    </ul>
}

<form asp-action="Index"
      asp-controller="Goods"
      method="post">
    <input type="hidden" asp-for="ArticleID" />
    <input type="hidden" asp-for="ArticleName" />
    <input type="hidden" asp-for="ArticleTypeID" />
    <input type="hidden" asp-for="ArticleTypeName" />
    <input type="hidden" asp-for="LocationID" />
    <input type="hidden" asp-for="LocationName" />
    <input type="hidden" asp-for="IsFiltered" />
    @if (!Model.Goods.Any())
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Информация:</strong> Товары, удовлетворяющие заданным критериям, отсутствуют
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="panel @(Model.IsFiltered ? "panel-info" : "panel-default")">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseFilters">
                            <span>
                                <i class="fa fa-fw fa-filter" aria-hidden="true"></i>
                                Панель фильтров
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFilters" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" asp-for="SearchTerm"></label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
                                        <input class="form-control input-sm" type="text" asp-for="SearchTerm" placeholder="Поиск" autofocus/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" asp-for="ShowNumber"></label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon"><i class="fa fa-fw fa-hashtag"></i></span>
                                        <select class="form-control input-sm"
                                                asp-for="ShowNumber">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" asp-for="ShowByPiece"></label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon"><i class="fa fa-fw fa-object-group"></i></span>
                                        <select class="form-control input-sm"
                                                asp-for="ShowByPiece">
                                            <option value="false">Группировать</option>
                                            <option value="true">Поштучно</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" asp-for="ArticleName"></label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon"><i class="fa fa-fw fa-tag"></i></span>
                                        <select class="form-control input-sm select-article"
                                                asp-for="ArticleID"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" asp-for="ArticleTypeName"></label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon"><i class="fa fa-fw fa-tags"></i></span>
                                        <select class="form-control input-sm select-article-type"
                                                asp-for="ArticleTypeID"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" asp-for="LocationName"></label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon"><i class="fa fa-fw fa-map-signs"></i></span>
                                        <select class="form-control input-sm select-location"
                                                asp-for="LocationID"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" asp-for="ShowSold"></label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon"><i class="fa fa-fw fa-align-justify"></i></span>
                                        <select class="form-control input-sm"
                                                asp-for="ShowSold">
                                            <option value="false">В наличии</option>
                                            <option value="true">Все</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <button class="btn btn-default btn-sm" asp-action="ResetFilters">
                                <i class="fa fa-fw fa-close"></i>
                                Сбросить
                            </button>
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-fw fa-filter"></i>
                                Применить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row goods-cards-row">
    @foreach (var item in Model.Goods)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            @Html.Partial("~/Views/Goods/_Card.cshtml", item)
        </div>
    }
</div>

@section Scripts {
    <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
    <environment names="Development">
        <script src="~/js/pages/goodsIndex.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/goodsIndex.min.js" asp-append-version="true"></script>
    </environment>
}