@{
    ViewBag.Title = "SORANO - Товары";
    ViewBag.Header = "Товары";
    ViewBag.Description = "";
    ViewBag.Icon = "fa fa-archive";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="active">Товары</li>
    </ul>
}