@model ArticleTypeModel

@{
    var isEdit = ViewData.ContainsKey("IsEdit");
    var title = isEdit ? "Редактирование" : "Создание";
}

@{
    ViewBag.Title = "SORANO - " + title + " типа артикулов";
    ViewBag.Header = title;
    ViewBag.Description = "типа артикулов";
    ViewBag.Icon = "fa fa-tag";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa fa-home"></i>
                Главная
            </a>
        </li>
        <li>
            <a asp-controller="Article" asp-action="Index">
                <i class="fa fa-barcode"></i>
                Артикулы
            </a>
        </li>
        <li class="active">@title типа артикулов</li>
    </ul>
}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <form asp-action="@(isEdit ? "Update" : "Create")"
              asp-controller="ArticleType"
              method="post">
            @if (Model.ParentType != null)
            {
                <input type="hidden" asp-for="ParentType.ID" />
                <input type="hidden" asp-for="ParentType.Name" />
            }          
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label" asp-for="Name">Название:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                    <input class="form-control" type="text" asp-for="Name" placeholder="Название"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Description">Описание:</label>
                <div class="input-group">
                    <span class="input-group-addon" style="vertical-align: top"><i class="fa fa-align-justify"></i></span>
                    <textarea class="form-control" rows="3" asp-for="Description" placeholder="Описание"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Родительский тип:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                    <div class="form-control">
                        <span>@Model.ParentType?.Name</span>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" 
                                type="submit" 
                                asp-action="SelectParentType" 
                                asp-route-returnUrl="@(isEdit ? Url.Action("Update", "ArticleType") : Url.Action("Create", "ArticleType"))" 
                                style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;" 
                                data-toggle="tooltip"
                                data-placement="right"
                                data-original-title="Назначить родительский тип"
                                title="">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <a class="btn btn-default" asp-controller="Article" asp-action="Index">
                    <i class="fa fa-close"></i>
                    Отмена
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    Сохранить
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("input.input-validation-error").closest(".form-group").addClass("has-error");
            $("select.input-validation-error").closest(".form-group").addClass("has-error");
        });
    </script>
}