@model SaleItemsGroupsViewModel

<div class="pull-right" style="margin-bottom: 20px;">
    <span>Выбрано </span><span class="badge">@Model.Summary.SelectedCount</span><span> товаров на сумму </span><span class="badge">@Model.Summary.TotalPrice @Model.Summary.SelectedCurrency</span>
</div>
<br />
<div class="sale-items-groups-tree"
     condition="@Model.Groups.Count > 0">
    <ul>
        @foreach (var group in Model.Groups)
        {
            Html.RenderPartial("_SaleItemsGroup", group);
        }
    </ul>
</div>
