@{
    ViewBag.Title = "SORANO - Продажи";
    ViewBag.Header = "Продажи";
    ViewBag.Description = "";
    ViewBag.Icon = "fa fa-handshake-o";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="active">Продажи</li>
    </ul>
}