@model SaleModel

@{
    ViewBag.Title = "SORANO - Оформление продажи";
    ViewBag.Header = "Оформление";
    ViewBag.Description = " продажи";
    ViewBag.Icon = "fa fa-handshake-o";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css" />
    <style>
        span.select2-selection.select2-selection--single {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    </style>
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Sale" asp-action="Index">Продажи</a></li>
        <li class="active">Оформление продажи</li>
    </ul>
}