@model AttachmentTypeModel

@{
    var isEdit = ViewData.ContainsKey("IsEdit") && (bool)ViewData["IsEdit"];
    var title = isEdit ? "Редактирование" : "Создание";
}

@{
    ViewBag.Title = "SORANO - " + title + " типа вложений";
    ViewBag.Header = title;
    ViewBag.Description = " типа вложений";
    ViewBag.Icon = "fa fa-fw fa-paperclip";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="active">Управление</li>
        <li><a asp-controller="AttachmentType" asp-action="Index">Типы вложений</a></li>
        <li class="active">@title типа вложений</li>
    </ul>
}

<div class="col-lg-4 col-md-12 col-sm-12">
    <div class="row" style="margin-left: 0;">
        @if (isEdit && Model.Name.Equals("Основное изображение"))
        {
            <p class="text-info">
                <i class="fa fa-fw fa-info" aria-hidden="true"></i>
                Тип вложения "Основное изображение" не может быть изменён.
            </p>
        }
    </div>
    <div class="row" style="margin-left: 0;">           
        <form asp-action="@(isEdit ? "Update" : "Create")"
                asp-controller="AttachmentType"
                method="post">
            <input type="hidden" asp-for="ID" />
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (!isEdit || !Model.Name.Equals("Основное изображение"))
            {
                <div class="form-group">
                    <label class="control-label" asp-for="Name"></label>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-fw fa-paperclip"></i></span>
                        <input class="form-control input-sm" type="text" asp-for="Name" placeholder="Название" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="Comment"></label>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" style="vertical-align: top"><i class="fa fa-fw fa-comment"></i></span>
                        <textarea class="form-control input-sm" rows="3" asp-for="Comment" placeholder="Коментарий"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="Extensions"></label>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-fw fa-filter"></i></span>
                        <input class="form-control input-sm" type="text" asp-for="Extensions" placeholder="Расширения" />
                    </div>
                </div>
            }                
            <div class="form-group">                            
                <a class="btn btn-default btn-sm" asp-controller="AttachmentType" asp-action="Index">
                    <i class="fa fa-fw fa-close"></i>
                    Отмена
                </a>
                @if (!isEdit || !Model.Name.Equals("Основное изображение"))
                {
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-fw fa-check"></i>
                        Сохранить
                    </button>
                }                            
            </div>
        </form>
    </div>
</div>
