@{
    ViewBag.Title = "SORANO - Главная";
    ViewBag.Header = "Главная";
    ViewBag.Icon = "fa fa-home";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li class="active">@ViewBag.Header</li>
    </ul>
}
