@using SORANO.WEB.Infrastructure.Extensions
@model AccountViewModel

<li class="dropdown">    
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <i class="fa fa-fw fa-user-circle" aria-hidden="true"></i>@Model.Login <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a asp-controller="Account" 
               asp-action="ChangePassword" 
               asp-route-id="@Model.ID" 
               asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
                Изменить пароль
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a asp-controller="Account" asp-action="Logout"><i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>Выйти</a>
        </li>
    </ul>
</li>