body {
    padding-top: 50px;
}

.navbar-default .navbar-brand {
    color: #2c3e50;
    background-color: #f4eb42;
}

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #f4eb42;
        background-color: #2c3e50;
    }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #2c3e50;
    background-color: #ffffff;
    border: 1px solid #2c3e50;
    border-bottom-color: transparent;
    cursor: default;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f4eb42;
    background-color: transparent;
}

textarea {
    resize: vertical;
}

.label-badge {
    border-radius: 8px;
}

.tab-pane .panel {
    border-radius: 0;
}

    .tab-pane .panel .panel-heading {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.panel-heading a:nth-of-type(2) {
    margin-right: 5px;
}

.input-group-btn > .btn:first-of-type:not(:last-of-type) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-btn > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.validation-for {
    display: none;
}

.search-row .input-sm {
    width: 100%;
}

table {
    width: 100%;
}

img, div.main-picture-info {
    width: 150px;
    height: 185px;
    border: 2px solid #dce4ec;
    box-shadow: none;
    border-radius: 4px;
    object-fit: contain;
    margin-right: 5px;
    margin-bottom: 10px;
}

div.main-picture-info {
    display: inline-block;
    text-align: center;
}

img.selected {
    border: 2px solid #3498db;
}

.btn-group-vertical {
    vertical-align: top;
}

    .btn-group-vertical > .btn:not(:first-child) {
        margin-top: 5px;
    }

.tree {
    min-height: 20px;
    margin-bottom: 20px;
}

    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0 5px;
        position: relative;
    }

        .tree li::before, .tree li::after {
            content: '';
            left: -20px;
            position: absolute;
            right: auto
        }

        .tree li::before {
            border-left: 2px solid #dce4ec;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px
        }

        .tree li::after {
            border-top: 2px solid #dce4ec;
            height: 20px;
            top: 25px;
            width: 25px
        }

        .tree li span:not(.badge) {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: 2px solid #dce4ec;
            border-radius: 4px;
            display: inline-block;
            padding: 3px 8px;
            text-decoration: none
        }

    .tree .badge {
        margin-top: -0.3em;
        margin-left: 10px;
    }

    .tree li > span {
        cursor: pointer;
        vertical-align: middle;
    }

    .tree li > a {
        vertical-align: middle;
    }

    .tree li > span > p {
        margin-left: 20px;
        margin-bottom: 0;
        font-size: 12px;
        color: #3498db;
    }

    .tree > ul > li::before, .tree > ul > li::after {
        border: 0
    }

    .tree li:last-child::before {
        height: 30px
    }

    .tree li.parent_li > span:hover, .tree li.parent_li > span:hover ~ ul li span {
        background: #dce4ec;
        border: 2px solid #dce4ec;
        color: #000
    }

        .tree li.parent_li > span:hover ~ ul li span > .badge {
            background-color: #2c3e50;
            color: #ffffff
        }

    .tree li.selected:not(.deleted) > span {
        color: #ffffff;
        background-color: #3498db;
        border-color: #3498db;
    }

    .tree li.deleted > span {
        color: #ffffff;
        background-color: #e74c3c;
        border-color: #e74c3c;
    }

    .tree .fa-lg {
        vertical-align: 0;
    }

@media screen and (max-width: 767px) {
    .table-responsive {
        border: 0;
    }
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.alert {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

textarea.form-control.recommendations.input-validation-error {
    border: 2px solid #e74c3c;
}

input.form-control.recommendations.input-validation-error {
    border: 2px solid #e74c3c;
}

input.form-control.attachments.input-validation-error {
    border: 2px solid #e74c3c;
}

select.form-control.attachments.input-validation-error {
    border: 2px solid #e74c3c;
}

.has-error span.select2-selection.select2-selection--single {
    border-color: #e74c3c !important;
}

span.select2-selection.select2-selection--single {
    height: 35px !important;
    padding: 6px 9px !important;
    font-size: 13px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    color: #2c3e50 !important;
    border-width: 2px !important;
    box-shadow: none !important;
}

.select2-container--bootstrap .select2-selection {
    border-color: #dce4ec !important
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection .select2-container {
    border-color: #2c3e50 !important
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    border-color: #2c3e50 !important
}

.select2-container--bootstrap .select2-dropdown {
    border-color: #2c3e50 !important;
    border-width: 2px;
    margin-top: -3px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #fff !important;
    border: 2px solid #2c3e50 !important;
    -ms-border-radius: 3px !important;
    border-radius: 3px !important;
    color: #2c3e50 !important;
    font-size: 13px !important;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #2c3e50 !important;
    color: #ffffff !important;
    font-size: 13px;
}

.select2-container--bootstrap .select2-results__option {
    padding: 6px 9px !important;
    font-size: 13px;
}

.select2-container--bootstrap.select2-container--open .select2-selection .select2-selection__arrow b {
    border-color: transparent transparent #2c3e50 !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
    border-color: #2c3e50 transparent transparent !important;
}

.select2-selection__rendered {
    color: #2c3e50 !important;
    padding-left: 0px !important;
}

.select2-selection__placeholder {
    font-size: 13px !important;
    color: #b3b6c3 !important;
}
