body {
    padding-top: 50px;
}
.navbar-default .navbar-brand {
    color: #2c3e50;
    background-color: #f4eb42;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #f4eb42;
    background-color: #2c3e50;
}