@model IList<LocationModel>

@{
    ViewBag.Title = "SORANO - Места";
    ViewBag.Header = "Места";
    ViewBag.Description = "и типы мест";
    ViewBag.Icon = "fa fa-map-marker";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa fa-home"></i>
                Главная
            </a>
        </li>
        <li class="active">Места</li>
    </ul>
}
