@model DeliveryIndexViewModel

@{
    ViewBag.Title = "SORANO - Поставки";
    ViewBag.Header = "Список";
    ViewBag.Description = "поставок";
    ViewBag.Icon = "fa fa-cart-arrow-down";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" />
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="active">Поставки</li>
    </ul>
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Список поставок
                <span class="badge" style="margin-left: 5px;">@Model.Items.Count</span>
                <a class="btn btn-default btn-xs pull-right"
                   asp-controller="Delivery"
                   asp-action="Create"
                   data-toggle="tooltip"
                   data-placement="right"
                   data-original-title="Добавить поставку"
                   title="">
                    <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                </a>
                <a class="btn btn-default btn-xs pull-right"
                   asp-controller="Delivery"
                   asp-action="ShowDeleted"
                   asp-route-show=@(ViewBag.ShowDeleted ? "false" : "true")
                   data-toggle="tooltip"
                   data-placement="right"
                   data-original-title=@(ViewBag.ShowDeleted ? "Скрыть удалённые поставки" : "Отобразить удалённые поставки")
                   title="">
                    <i class="fa fa-fw @(ViewBag.ShowDeleted ? "fa-eye-slash" : "fa-eye")" aria-hidden="true"></i>
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                @Html.Partial("~/Views/Delivery/_Table.cshtml", Model)
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs/js/responsive.bootstrap.min.js"></script>
    <environment names="Development">
        <script src="~/js/pages/deliveryIndex.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/pages/deliveryIndex.min.js" asp-append-version="true"></script>
    </environment>
}