@model IEnumerable<RecommendationViewModel>

<table id="recommendations-datatable" class="table table-striped table-hover">
    <thead>
        <tr role="row" class="search-row">
            <th><input type="text" class="form-control input-sm" placeholder="Коментарий" /></th>
            <th><input type="text" class="form-control input-sm" placeholder="Значение" /></th>
        </tr>
        <tr role="row">
            <th><i class="fa fa-fw fa-comment" aria-hidden="true"></i>Коментарий</th>
            <th><i class="fa fa-fw fa-hashtag" aria-hidden="true"></i>Значение</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recommendation in Model)
        {
            <tr>
                <td>@recommendation.Comment</td>
                <td>@recommendation.Value</td>
            </tr>
        }
    </tbody>
</table>