@model ArticleViewModel

<li class="@(Model.IsDeleted ? "deleted" : "")">
    <table class="table table-hover table-striped">
        <tr>
            <td style="width: 75px;">
                
            </td>
            <td>
                <span>@Model.Name</span><br />
                <span class="article-type-description">@Model.Description</span>
            </td>
        </tr>
    </table>
</li>