@model ArticleIndexViewModel

<li class="@(Model.IsDeleted ? "deleted" : "")">
    <table>
        <tr>
            <td rowspan="2"><i class="fa fa-fw fa-barcode"></i></td>
            <td>
                @Model.Name
            </td>
        </tr>
        <tr class="article-type-description">
            <td>@Model.Description</td>
        </tr>       
    </table>
</li>