@model ArticleTypeTreeViewModel

<div class="article-types-tree" 
        id="article-types-tree" 
        data-showdeleted="@Model.ShowDeleted"
        hide-if="@Model.ArticleTypes.Count == 0">
    <ul>
        @foreach (var type in Model.ArticleTypes)
        {
            @Html.Partial("Components/ArticleTypes/_ArticleTypeTreeNode", type)
        }
    </ul>
</div>