@model List<RecommendationModel>

@if (Model.Any())
{
    <table class="table table-responsive" style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 70%"><i class="fa fa-fw fa-comment" aria-hidden="true"></i>Текст</th>
                <th style="width: 25%"><i class="fa fa-fw fa-hashtag" aria-hidden="true"></i>Значение</th>
                <th style="width: 5%"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td style="padding: 2px;"><textarea style="resize: vertical;" class="form-control" rows="1" asp-for="@Model[i].Comment"></textarea></td>
                    <td style="padding: 2px;"><input class="form-control" type="text" asp-for="@Model[i].ValueString" /></td>
                    <td style="padding: 2px;">
                        <a class="btn btn-danger" id="btnDeleteRecommendation"
                           title="Просмотреть информацию об артикуле">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <div class="pull-left">
        @if (!Model.Any())
        {
            <p class="text-info">
                <i class="fa fa-fw fa-info" aria-hidden="true"></i>
                Рекомендации отсутствуют
            </p>
        }
    </div>
    <div class="pull-right" style="padding: 2px;">
        <a class="btn btn-success" id="btnAddRecommendation"
           title="Просмотреть информацию об артикуле">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
</div>