@model UserModel

@{
    var isEdit = ViewData.ContainsKey("IsEdit") && (bool)ViewData["IsEdit"];
    var title = isEdit ? "Редактирование" : "Создание";
}

@{ 
    ViewBag.Title = "SORANO - " + title + " пользователя";
    ViewBag.Header = title;
    ViewBag.Description = "пользователя";
    ViewBag.Icon = "fa " + (isEdit ? "fa-pencil-square" : "fa-user-plus");
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="User" asp-action="List">Пользователи</a></li>
        <li class="active">@title пользователя</li>
    </ul>
}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="row" style="margin-left: 0;">
            @if (isEdit && !Model.CanBeModified)
            {
                <p class="text-info">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i>
                    Для текущего пользователя количество свойств для редактирования ограничено
                </p>
            }
        </div>
        <div class="row" style="margin-left: 0;">
            <form asp-action="@(isEdit ? "Update" : "Create")"
                  asp-controller="User"
                  method="post">
                <input type="hidden" asp-for="ID" />
                <input type="hidden" asp-for="CanBeModified" />
                <div asp-validation-summary="All" class="text-danger"></div>
                @if (Model.CanBeModified || !isEdit)
                {
                    <div class="form-group">
                        <label class="control-label" asp-for="Login">Логин:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                            <input class="form-control" type="text" asp-for="Login" placeholder="Логин"/>
                        </div>
                    </div>
                }
                @if(isEdit && !Model.CanBeModified)
                {
                    <input type="hidden" asp-for="Login" />
                    for (int i = 0; i < Model.RoleIDs.Count(); i++)
                    {
                        @Html.HiddenFor(m => m.RoleIDs.ToList()[i])
                    }
                }
                <div class="form-group">
                    <label class="control-label" asp-for="Description">Описание:</label>
                    <div class="input-group">
                        <span class="input-group-addon" style="vertical-align: top"><i class="fa fa-align-justify"></i></span>
                        <textarea class="form-control" style="resize: vertical;" rows="3" asp-for="Description" placeholder="Описание"></textarea>
                    </div>
                </div>
                @if (!isEdit)
                {
                    <div class="form-group">
                        <label class="control-label" asp-for="Password">Пароль:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input class="form-control" type="password" asp-for="Password" placeholder="Новый пароль"/>
                        </div>
                    </div>
                }
                @if (isEdit && Model.CanBeModified)
                {
                    <div class="form-group">
                        <label class="control-label" asp-for="NewPassword">Новый пароль:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input class="form-control" type="password" asp-for="NewPassword" placeholder="Новый пароль" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="RepeatPassword">Новый пароль:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input class="form-control" type="password" asp-for="RepeatPassword" placeholder="Повторите новый пароль" />
                        </div>
                    </div>
                }
                @if (Model.CanBeModified || !isEdit)
                {
                    <div class="form-group">
                        <label class="control-label">Роли:</label>
                        <div class="input-group">
                            <span class="input-group-addon" style="vertical-align: top"><i class="fa fa-vcard"></i></span>
                            <select class="form-control" asp-for="RoleIDs" asp-items="@ViewBag.Roles"></select>
                        </div>
                    </div>
                }                
                <div class="form-group">
                    <a class="btn btn-default" asp-controller="User" asp-action="List">
                        <i class="fa fa-close"></i>
                        Отмена
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-check"></i>
                        Сохранить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="js/pages/userCreate.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="js/pages/userCreate.min.js" asp-append-version="true"></script>
    </environment>
}